build/
bin/
*.log
*.root
*.err
*.out
out/
scripts/logs/
scripts/err/
scripts/out/
scripts/*.cc
scripts/*.png
scripts/*.pdf
scripts/*.csv
scripts/*/*
scripts/faser-secret.json
eventdisplay*/*
out_calibration/*_calib*/log
out_calibration/*_calib*/*/*
out_calibration/*/*/*
ymaruya.cc
*/ymaruya.cc
*/*/ymaruya.cc
*/*/*/ymaruya.cc
*/*/*/*/ymaruya.cc
*/*/*/*/*/ymaruya.cc
*/*/*/*/*/*/ymaruya.cc
*/*/*/*/*/*/*/ymaruya.cc
*/*/*/*/*/*/*/*/ymaruya.cc
*/*/*/*/*/*/*/*/ymaruya.cc
setup_local.sh
.env
config/local/
*tmp*
*.exe
*_C.d
*_C.so
*_C_AcLiC_*
