build/
bin/
*.log
*.root
*.err
*.out
out/
scripts/logs/
scripts/err/
scripts/out/
scripts/*.cc
scripts/*.png
scripts/*/*
scripts/faser-secret.json
eventdisplay*/*
out_calibration/*_calib/log
out_calibration/*_calib/*/*
*ymaruya.cc
setup_local.sh
.env
config/local/
