run:
  input: /eos/project/f/faser-upgrade/AHCAL/UJ12_Test/Faser-Physics-021659-000000.root
  MC: false
  log_file: out/run21691^5/log2
  output: out/run21691^5/out.root
  nEvents: -1
  log_level: INFO
  runNumber: 21659
  poolIndex: 0
reader: 
  type: BinaryRawHitReader
  cfg:
    out_rawhits_key: RawHits
    out_tlu_key: TLURawData
  # type: RootRawHitReader
  # cfg:
  #   out_rawhits_key: RawHits
  #   out_tlu_key: TLURawData
  # type: RootInput
  # cfg:
  #   inputlist: 
  #     - [vector<AHCALRawHit>, RawHits]
  #     - [AHCALTLURawData, TLURawData]
  #     - [vector<AHCALRecoHit>, RecoHits]
  #     - [SimpleFittedTrack, FittedTrack]
  #     - [Track, MuonKFTrack]

algs: # Define the sequence of algorithms to be executed. The order matters.
  - type: PedestalAlg
    cfg:
      in_rawhit_key: RawHits
      pedestal_to_file: true
      pedestal_to_DB: false
      out_pedestal_filename: out/run21659/ped.root
      use_hittag: true
      select_hittag: 0
  - type: AdcToEnergyReadTTreeAlg
    cfg:
      in_rawhit_key: RawHits
      out_recohit_key: RecoHits
      mip:
        file: /afs/cern.ch/user/y/ymaruya/private/FASERlink/AHCAL/FAIR/calibration/reffiles/mip.root
        cut: (gaus_sigma>20)
        cellid_version: 0
      pedestal:
        file: /afs/cern.ch/user/y/ymaruya/private/FASERlink/AHCAL/FAIR/calibration/reffiles/ped.root
        cut: (1)
        cellid_version: 0
      dac:
        file: /afs/cern.ch/user/y/ymaruya/private/FASERlink/AHCAL/FAIR/calibration/reffiles/dac.root
        cut: (1)
        cellid_version: 0
  - type: TrackFitAlg
    cfg:
      in_recohit_key: RecoHits
      out_track_key: FittedTrack
      threshold_xy: 20.0
  - type: MuonKFAlg
    cfg:
      in_recohit_key: RecoHits
      out_track_key: MuonKFTrack
      lastNLayers: 40
      minUsedLayers: 10
      maxConsecutiveSkips: 5
      useNmipWindow: true
      nmipMin: 0.5
      nmipMax: 3.0
      measSigmaXY_mm: 0.0
      sigmaTheta: 0.003 
      gateD2: 9.0
      seedLayerGap: 2
      maxSeedHitsPerLayer: 10
      skipLayers: [0,2,14]
  - type: RootWriterAlg
    cfg: 
      outputlist:
        # - vector<AHCALRecoHit>
        - SimpleFittedTrack
        - Track